@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf');
}

* {
  font-family: 'Roboto', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #B0E0E6;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}